body,ul,li,a{
    padding: 0;
    margin: 0;
}

body>header>a>img, body>header>ul, body>header>ul>li{
    display: inline-block;
    vertical-align: middle;
}
body{
    background: #ffffff;
}

body header{
    background: #3366ff;
}

body>footer{
    text-align: center;
    position: fixed;
    bottom:0;
    width:100%;
    height:70px;
    background:#6cf;
}
header>#navigation>ul{
    width: 50%;
    height: 61px;
}

#wrapper{
    padding-top: 70px;
    padding-left: 70px;
}

#cart-is-empty{
    text-align: center;
    color:rgba(192,192,192,0.5);
}



form input{
    display: block;
    padding: 5px;
    margin-bottom: 10px;
}

.user-role-form input{
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}

ul.info-messages {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: #cfc;
    border-radius: 5px;
}

ul.info-messages li {
    display: block;
}

ul.error-messages {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: #fcc;
    border-radius: 5px;
}

ul.error-messages li {
    display: block;
}

#logged-in-info{
    float: right;
}

#logged-in-info form{
    display: inline-block;
}


.site-navigation {
    width: 100%;
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.site-navigation ul {
    background: #3366ff;
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: inline-block;
}

.site-navigation li {
    background: #3366ff;
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 12px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0.6em;
    padding: 0.7em;
}

.site-navigation li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.site-navigation li:hover {
@include transition(background, 0.2s);
    background: #52a6df;
    cursor: pointer;
}

.site-navigation ul li ul {

    visibility: hidden;
    float: left;
    min-width: 150px;
    position: absolute;
    transition: visibility;
    margin-top:12px;
    left: 0;
    z-index: 999;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
    visibility: visible;
}

.site-navigation ul li ul li {
    clear: both;
    padding: 5px 0 5px 18px;
    width: 73%;
}

.site-navigation ul li ul li:hover {
    background: #74b7e4;
}
.site-navigation .menu-login{
    float: right;
    display: inline-block;
}
.site-navigation .menu-login ul{
    list-style-type: none;
    margin-right: 1px;
    display: inline-block;
}
.site-navigation .menu-login ul li {
    display: inline-block;
    margin: 0.6em;
    padding: 0.7em;
}